.block-news-message h2 {
    white-space: normal;
}
.block-news-message-image {
    height: auto;
}
.block-news-attachment-icon {
    display: inline;
    width: 24px;
    vertical-align: bottom;
}
.block-news-message-extlink ion-icon {
    padding-right: 4px;
    vertical-align: bottom;
}
.block_news_event_date {
    text-align: center;
    width: 56px;
    display: inline-block;
    float: left;
    margin-right: 17px;
}
.block_news_event_date span {
    display: block;
}
.block_news_event_date_month {
    background-color: #002158;
    font-size: 1.6rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1px 0;
}
.block_news_event_date_day {
    background-color: #fff;
    border: 1px solid #002158;
    color: #000;
    font-size: 2.4rem;
    padding-bottom: 9px;
}
.block_news_group_indication {
    font-style: italic;
    font-size: 1.2rem;
}
.block-news-events-heading {
    font-size: 1.8rem;
}
.block-news-message ion-label.label-md,
.block-news-message ion-label.label-ios {
    margin-bottom: 7px;
}
.block-news-message-text {
    line-height: 1.5;
}
ion-card.block-news-message h2 {
    margin-top: 1em;
    font-size: 1.6rem;
    font-weight: bold;
    color: #002158;
}
ion-card.block-news-message core-format-text h3 {
    font-size: 1.6rem;
    font-weight: 500;
}
ion-card.block-news-message core-format-text h4 {
    font-size: 1.4rem;
    font-weight: 700;
}
ion-card.block-news-message core-format-text h5 {
    font-size: 1.4rem;
    font-weight: 500;
}

[dir="ltr"] .block-news-message.card-md core-format-text p {
    margin-bottom: 1em;
}
[dir="ltr"] .block-news-message.card-md core-format-text p:last-of-type {
    margin-bottom: 3px;
}

.block_news .content {
    background-color: white;
}

.block-news-message .card-content .col {
    padding: 5px 0;
}
.block-news-message .card-content .block_news_event_date {
    margin-right: 13px;
    margin-bottom: 8px;
}

/* Align the attachments title */
.block-news-message .row .col h3 {
    padding-left: 11px;
}
