.block .content .block_news_msglist > h3,
.block .content .block_news_eventlist > h3,
.block .content .block-news-editheading,
.format-ousubject .block_news h3.news-heading {
    color: #38254c;
    font-weight: normal;
    font-size: 2.14285em;
    margin-top: 0px;
    margin-bottom: 5px;
}
.block .content .block_news_msglist > h3,
.format-ousubject .block_news h3.news-heading {
    margin-bottom: 0px;
}

.block_news_msg h1,
.block_news_msg h2,
.block_news_msg h3,
.block_news_msg h4 {
    font-size: 1.0em;
    margin: 15px 0 0 0;
    line-height: 1.2;
}

.block_news_msg .block_news_msg_messagedate {
    font-weight: normal;
}

.block_news_msg .block_news_msg_title {
    font-weight: bold;
}

.block_news_msg .block_news_msg_author {
    font-style: italic;
    margin-bottom: 5px;
}

.block_news_msg .link {
    font-weight: bold;
}

.block_news_msg h1.main,
.block_news_msg h2.main,
.block_news_msg h3.main,
.block_news_msg h4.main {
    margin-bottom: 5px;
}

.block_news .content .footer {
    margin: 10px 0 5px 0;
}

.block_news #block_news_addmsg,
.block_news #block_news_viewall,
.block_news #block_news_rss {
    margin: 0 10px;
    display: inline;
    font-weight: bold;
}

.osep-courseformat-oustudyplan .block_news #block_news_addmsg {
    display: block;
}

/* add/edit message */
#page-blocks-news-edit #mform1 .daterepeat_off {
    color: gray;
}

#page-blocks-news-edit #fitem_id_groupids,
#page-blocks-news-edit #fitem_id_grouping {
    width: 49%;
    vertical-align: top;
}

#page-blocks-news-edit #fitem_id_groupids select,
#page-blocks-news-edit #fitem_id_grouping select {
    max-width: 100%;
}

#page-blocks-news-edit #fitem_id_groupids {
    display: inline-block;
}

#page-blocks-news-edit #fitem_id_grouping {
    display: none;
}

@media (min-width: 1200px) {
    #page-blocks-news-edit #fitem_id_groupids .col-md-3,
    #page-blocks-news-edit #fitem_id_grouping .col-md-3 {
        max-width: 100%;
        text-align: left;
        padding-left: 2px;
    }

    #page-blocks-news-edit.osep-courseformat-ousubject #fitem_id_grouping {
        width: calc(50% - 180px);
    }

    #page-blocks-news-edit.osep-courseformat-ousubject #fitem_id_groupids {
        margin-left: 280px;
        margin-right: -70px;
    }

    #page-blocks-news-edit.osep-courseformat-oustudyplan #fitem_id_groupids {
        margin-left: 263px;
        margin-right: -80px;
    }

    #page-blocks-news-edit.osep-courseformat-oustudyplan #fitem_id_grouping {
        width: calc(50% - 160px);
    }
}

@media (max-width: 1199px) {
    #page-blocks-news-edit #fitem_id_groupids {
        margin-right: 10px;
    }
}

/* view full message */
.block_news_message,
.block_news_top,
.block_news_nonews {
    max-width: 500px;
    margin: 10px 0;
    padding: 10px;
}

.block_news_message {
    border-top: 1px solid #dadad9;
}

.block_news_top .singlebutton {
    width: calc(100% - 24px);
    display: inline-block;
    margin: 0;
}

.block_news_top #block_news_rss_all {
    width: 16px;
    display: inline-block;
}

.block_news_message .msghide {
    color: gray;
}

.block_news_message .link {
    clear: left;
}

.block_news_message .author {
    clear: left;
    padding-top: 5px;
}

.block_news_message .message {
    padding-top: 5px;
}

.block-news-message-text {
    margin-bottom: 15px;
}

.block_news_event .block-news-message-text {
    clear: left;
    padding-top: 10px;
}

.block_news_message .messageimage img,
.block_news .messageimage img {
    max-width: 100%;
    height: auto;
    margin-top: 14px;
}

.block_news_message #editicons #hideurl,
.block_news_message #editicons #editurl,
.block_news_message #editicons #deleteurl {
    display: inline;
    margin: 0 5px 0 0;
}

/* View page in "news and events" mode */
.path-blocks-news .block-news-view .block_news_message .author {
    font-weight: normal;
    font-size: 1.14285em;
    margin-bottom: 0;
}

.path-blocks-news .block-news-view .block_news_message .title {
    margin-bottom: 7px;
}

.block-news-view .messageimage {
    margin-bottom: 45px;
}

.block-news-view .block-news-nextlink {
    float: right;
}

.block-news-view .block-news-prevlink {
    float: left;
}

.block-news-view .block-news-message-text {
    max-width: 650px;
}

.block-news-message-extlink .iconlarge {
    margin-right: 8px;
}

/* Set text area width of feed URL list 100%. */
.mform #id_config_feedurls,
#block-news-feedurls {
    width: 100%;
}

.block_news_group_indication {
    font-size: 0.8em;
    font-style: italic;
}

.arrow_link.block-news-mobile-nextprev {
    display: none;
}

#newsblockform {
    margin-top: 14px;
    width: 50%;
}

.block_news .menu .menu-action-text img.smallicon {
    display: none;
}

.block_news_unreadicon {
    display: none;
}

@media (max-width: 767px) {
    .arrow_link.block-news-desktop-nextprev {
        display: none;
    }
    .arrow_link.block-news-mobile-nextprev {
        display: inline;
    }
    #page-blocks-news-edit #fitem_id_groupids,
    #page-blocks-news-edit #fitem_id_grouping {
        width: 100%;
    }
}
