.block .content .block_news_msglist > h3,
.block .content .block_news_eventlist > h3,
.block .content .block-news-editheading {
    color: #38254c;
    font-weight: normal;
    font-size: 2.14285em;
    margin-top: 0px;
    margin-bottom: 5px;
}

.block_news_msg h1 {
    font-size: 1.0em;
    margin: 18px 0 0 0;
    line-height: 1.2;
}

.block_news_msg .block_news_msg_messagedate {
    font-weight: normal;
}

.block_news_msg .block_news_msg_title {
    font-weight: bold;
    margin-bottom: 5px;
}

.block_news_msg .block_news_msg_author {
    font-style: italic;
    margin-bottom: 5px;
}

.block_news_msg .link {
    font-weight: bold;
}

.block_news_msg h1.main {
    margin-bottom: 5px;
}

.block_news .content .footer {
    margin: 10px 0 5px 0;
}

.block_news #block_news_addmsg,
.block_news #block_news_viewall,
.block_news #block_news_rss {
    margin: 0 10px;
    display: inline;
    font-weight: bold;
}


/* add/edit message */
#page-blocks-news-edit #mform1 .daterepeat_off {
    color: gray;
}


/* view full message */
.block_news_message .main, .block_news_top, .block_news_nonews {
    max-width: 500px;
    border: solid black 1px;
    margin: 10px 0;
    padding: 10px;
}

.block_news_top{
    height: 23px;
}

.block_news_top .singlebutton {
    /* force reduced height (which doesnt actually affect button height)
    to avoid RSS button being artifically displaced */
    height: 5px;
    width: 200px;
    margin: 0;
}

.block_news_top #block_news_rss_all {
    float: right;
}

.block_news_message .msghide {
    color: gray;
}

.block_news_message .title, .block_news_message .messagedate {
    float: left;
}

.block_news_message .link {
    clear: left;
}

.block_news_message .title {
    font-weight: bold;
    margin-left: 10px
}

.block_news_message .author {
    clear: left;
    padding-top: 5px;
}

.block_news_message .message {
    padding-top: 5px;
}

.block_news_message .messageimage img,
.block_news .messageimage img {
    max-width: 100%;
    height: auto;
}

.block_news_message #editicons #hideurl,
.block_news_message #editicons #editurl,
.block_news_message #editicons #deleteurl {
    display: inline;
    margin: 0 5px 0 0;
}

/* View page in "news and events" mode */
.path-blocks-news .block-news-view .block_news_message .author {
    font-weight: normal;
    font-size: 1.14285em;
    margin-bottom: 0;
}

.path-blocks-news .block-news-view .block_news_message .title {
    margin-bottom: 7px;
}

.block-news-view .messageimage {
    margin-bottom: 45px;
}

.block-news-view .block-news-nextlink {
    float: right;
}

.block-news-view .block-news-prevlink {
    float: left;
}

.block-news-view .block-news-message-text {
    max-width: 650px;
}

/* Set text area width of feed URL list 100%. */
.mform #id_config_feedurls,
#block-news-feedurls {
    width: 100%;
}

.block_news_group_indication {
    font-size: 0.8em;
    font-style: italic;
}

.block-news-mobile-nextprev {
    display: none;
}

#newsblockform {
    margin-top: 14px;
    width: 50%;
}

@media (max-width: 767px) {
    .block-news-desktop-nextprev {
        display: none;
    }
    .block-news-mobile-nextprev {
        display: inline;
    }
}

/*
 * TEMPORARY: This option should be visible (even on non-ousubject sites)
 * but because the feature is not fully implemented, we are hiding it.
 * TODO This style should be removed by September release.
 */
body:not(.osep-courseformat-ousubject) #fitem_id_config_displaytype {
    display: none;
}
