{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_news/editform

    Template which defines contents of an edit form within the block.
}}
<form id="newsblockform" class="newsblockform mform" method="post" action="{{action}}">
    <input type="hidden" name="sesskey" value="{{sesskey}}" />
    <input type="hidden" name="bid" value="{{bid}}" />
    <fieldset id="newsblockform_fieldset" class="collapsible collapsed">
        <legend class="ftoggler">{{#str}} configeditconfig, block_news {{/str}}</legend>
        <div class="fcontainer">
            <label for="block-news-feedurls">{{#str}} configfeedurls, block_news {{/str}}</label>
            <textarea id="block-news-feedurls" name="feedurls" rows="5">{{{feedurls}}}</textarea>
        </div>
        <div class="fcontainer">
            <input type="submit" value="{{savelabel}}" />
        </div>
    </fieldset>
</form>
