{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_news/message_short

    Template for displaying the short version of a news message within a block.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * messagedate
    * title
    * formattedmessage
    * viewlink
    * groupindication

    Example context (json):
    {
        "messagedate": "23 Jan 2017",
        "title": "Fake news",
        "author": "Donald J. Trump",
        "thumburl": "http://placehold.it/340x160",
        "thumbwidth": "340",
        "thumbheight": "160",
        "formattedmessage": "This is <b>fake news</b>. Sad!",
        "viewlink": "http://example.com",
        "classes": "",
        "groupindication": "",
        "hasactions": true,
        "actions": [
            {
                "icon": {
                    "attributes": [
                        { "name": "src", "value": "https://moodle.org/logo/moodle-logo.svg" },
                        { "name": "class", "value": "iconsmall" },
                        {"name": "alt", "value": "Alt text for icon"}
                    ]
                },
                "url": "http://example.com"
            }
        ]
    }

}}
<article class="block_news clearfix {{classes}}">
    <div class="block_news_msg">
        {{#thumburl}}
            <div class="box messageimage">
                <img src="{{thumburl}}" alt=""
                        {{#imageurl}}srcset="{{thumburl}} {{thumbwidth}}w, {{imageurl}} {{imagewidth}}w"
                        sizes="(max-width: 380px) {{thumbwidth}}px, (max-width: 767px) {{imagewidth}}px, {{thumbwidth}}px"{{/imageurl}} />
            </div>
        {{/thumburl}}
        <h1>
            <a href="{{viewlink}}"><span class="block_news_msg_title">{{title}}</span></a>
        </h1>
        <span class="block_news_msg_messagedate">{{#str}} posted, block_news {{/str}} {{messagedate}}</span>
        {{#author}}
            <div class="block_news_msg_author">{{author}}</div>
        {{/author}}
        <div class="block_news_msg_message">{{{formattedmessage}}}</div>
        <div class="block_news_group_indication">{{{groupindication}}}</div>
        {{#hasactions}}
            <div class="box editicons">
        {{/hasactions}}
        {{#actions}}
            <a href="{{url}}">
            {{#icon}}
                {{> core/pix_icon}}
            {{/icon}}
            </a>
        {{/actions}}
        {{#hasactions}}
            </div>
        {{/hasactions}}
    </div>
</article>
